{% extends 'portal/base.html' %}
{% block main_page %}
<div class="bg-white">
    {% include 'portal/header.html' %}
    <div class="tagline-section container bg-white">

        <div class="row" style="height: 95vh; ">
            <div class="col-md-6 text-center m-auto">
                <h1 class="display-1 text-center"> With Kitab any book you like on your door step. Future of online
                    books is here!</h1>
            </div>
            <div class="col-md-6 text-center m-auto">
                <img src="{{url_for('portal.static', filename='svg/book-girl.svg')}}" alt="" class="book-girl">
            </div>

        </div>
        <div class="featured">
            <h1 class="display-4 text-center featured-heading">Featured</h1>
            <div class="row pt-4">
                {% for i in range(4) %}
                <div class="col-md-3 ">
                    <div class="">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/516ga-QDjAL._SX326_BO1,204,203,200_.jpg"
                            alt="" style="width: 100%;">
                    </div>
                    <div class="py-2">
                        <h5 class="h-4 text-center" style="font-weight: bold;">Revolution 2020</h5>
                        <p class=" text-center" style="margin-top: -5%;">Chetan bhagat</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for i in range(4) %}
        <div class="py-4">
           


                <div class="d-flex justify-content-between">

                    <h5 class="pl-2" style="font-weight: 600;">Classics</h5>
                    <a href="{{url_for('portal.viewall')}}">
                        <h6 class="pl-2" style="font-weight: 500;">view all </h6>
                    </a>
                </div>
                <div class="d-flex flex-row flex-nowrap books">
                    {% for i in range(10) %}
                   
                    <div class="col-md-3 card mx-1 p-2 ">
                        <div class="">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/516ga-QDjAL._SX326_BO1,204,203,200_.jpg"
                                alt="" style="width: 100%;">
                        </div>
                        <div class="pt-2">
                            <h5 class="h-4 text-center" style="font-weight: bold;">Revolution 2020</h5>
                            <p class=" text-center" style="margin-top: -5%;">Chetan bhagat</p>
                        </div>
                        <div class="text-center m-auto">
                            <button class="btn btn-link p-0 text-default"><i class="fa fa-cart-plus"
                                    aria-hidden="true"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                 
                    {% endfor %}
                </div>
            
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}